In [24]:
# Importing Pandas
import pandas as pd

# Reading csv as dataframe
g20_index_data = pd.read_csv("UNION.csv")
g20_covid = pd.read_csv("g20_covid.csv")
g20_index_data.head()
g20_covid.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,ARG,South America,Argentina,2020-01-01 0:00,0,0,0.0,0,0,0.0,...,27.7,0.0,5.0,76.67,0.845,45276780,0.0,0.0,0.0,0.0
1,ARG,South America,Argentina,2020-01-02 0:00,0,0,0.0,0,0,0.0,...,27.7,0.0,5.0,76.67,0.845,45276780,0.0,0.0,0.0,0.0
2,ARG,South America,Argentina,2020-01-03 0:00,0,0,0.0,0,0,0.0,...,27.7,0.0,5.0,76.67,0.845,45276780,0.0,0.0,0.0,0.0
3,ARG,South America,Argentina,2020-01-04 0:00,0,0,0.0,0,0,0.0,...,27.7,0.0,5.0,76.67,0.845,45276780,0.0,0.0,0.0,0.0
4,ARG,South America,Argentina,2020-01-05 0:00,0,0,0.0,0,0,0.0,...,27.7,0.0,5.0,76.67,0.845,45276780,0.0,0.0,0.0,0.0

In [19]:
g20_index_data['USD'] = g20_index_data['USD'].replace(0, None)

g20_index_data.isna().sum()

date          0
Country       0
USD        2198
dtype: int64

In [20]:
g20_index_data.ffill(inplace=True)

g20_index_data.head(20)

          date    Country          USD
0   2018-01-01  Argentina          NaN
1   2018-01-02  Argentina  1671.991824
2   2018-01-03  Argentina  1711.535940
3   2018-01-04  Argentina  1732.425964
4   2018-01-05  Argentina  1729.343505
5   2018-01-06  Argentina  1729.343505
6   2018-01-07  Argentina  1729.343505
7   2018-01-08  Argentina  1741.454487
8   2018-01-09  Argentina  1688.416076
9   2018-01-10  Argentina  1670.292534
10  2018-01-11  Argentina  1721.569351
11  2018-01-12  Argentina  1749.826287
12  2018-01-13  Argentina  1749.826287
13  2018-01-14  Argentina  1749.826287
14  2018-01-15  Argentina  1808.466104
15  2018-01-16  Argentina  1789.557976
16  2018-01-17  Argentina  1779.507864
17  2018-01-18  Argentina  1804.829016
18  2018-01-19  Argentina  1779.708609
19  2018-01-20  Argentina  1779.708609